* {margin:0;padding:0;-webkit-tap-highlight-color:transparent;}
html,body {
    width:100%;
    height:100%;
    background:#f2f2f2;
}
ul,li {
    list-style:none;
}
#calendar_Dodui {
    width: 100%;
    height: 100%;
    background:#289860;
}
#calendarYm_Dodui {
    height:3em;
    width:100%;
    line-height:3em;
    font-size:1.2em;
    color:#fff;
    text-indent:10%;
    border-bottom:1px solid #fff;
}

#calendarYm_Dodui span {
    /*display:block;*/padding:0 6%;
}
#week_Dodui {
    width:100%;
    color:#fff;
    font-size:1.2em;
    display:flex;
    height:3rem;
}
#week_Dodui span {
    display:block;
    width:calc(100% / 7);
    text-align:center;
    line-height:3rem;
}
#dayBG_Dodui {
    background:#fff;
    position:relative;
    width:100%;
    height:auto;}
#daydataBG_Dodui {
    position:relative;
    width:100%;
    height:18.7em;}
#daydataBG_Dodui li {
    display:block;
    width:calc(97.6% / 7);
    background:#f0f0f0;
    height:3em;
    float:left;
    margin:.2% .2%;}
#daydataBG_Dodui li:nth-of-type(7n-6) {
    margin-left:0;
}
#daydataBG_Dodui li:nth-of-type(7n) {
    margin-right:0;
}
#dataNums_Dodui {
    position:absolute;
    top:0;left:0;
    width:100%;
    height:auto;
}
#dataNums_Dodui li {
    display:block;
    width:calc(97.6% / 7);
    height:3em;
    float:left;
    margin:.2% .2%;
    text-align:center;
    line-height:3em;
    font-size:1em;
}
#dataNums_Dodui li:nth-of-type(7n-6) {
    margin-left:0;
}
#dataNums_Dodui li:nth-of-type(7n) {
    margin-right:0;
}
#chooseCalendar_Dodui {
    width:100%;
    height:18em;
    background:#fff;
    position:fixed;
    bottom:0;
    left:0;
}
.yearMonth {
    width:100%;
    height:3em;
    background:#289860;color:#fff;position:relative;}
.yearMonth span {
    display:inline-block;
    width:5em;
    height:2.4em;
    line-height:2.4em;
    text-align:center;
    font-size:1.3em;
    text-align:center;
}
.yearMonth span:nth-of-type(2) {
    position:absolute;
    right:0;
    top:0;}
.chooseYearMonth {
    width:100%;
    height:auto;
    display:flex;
}
.chooseYearMonth ul {
    width:50%;
    text-align:center;
    height:15em;
    overflow:scroll;
}
.chooseYearMonth ul li {
    line-height:3em;
}
#chkYearMonth {
    width:100%;
    height:3em;
    position:absolute;
    top:9em;
    left:0;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
}
