<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link>
    <!-- jquery  bootstrap-->
    <script th:src="@{/jquery/jquery-3.3.1.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/bootstrap/bootstrap.css}">
    <script th:src="@{/bootstrap/bootstrap.js}"></script>

    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css"  th:href="@{/css/index.css}">
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/menu_btn.js}"></script>

    <auth-head th:include="/auth/auth-index :: auth-head"/>

    <!--<style  type="text/css">



    </style>-->
</head>
<body>
    <div id="home-left">
        <div id="home-head">
            <h4>Cloud-Frame</h4>
        </div>
        <div id="home-menu-div">
            <h3 id="home-menu-auth-head" class="home-menu-head">认证中心</h3>
            <div style="display:block" id="home-menu-auth-nva" class="menu_nva">
                <a class="menu_nva_a" href="javascript:void(0);">--角色管理</a>
                <a class="menu_nva_a" href="javascript:void(0);">--菜单管理</a>
                <a class="menu_nva_a" href="javascript:void(0);">--权限管理</a>
                <a class="menu_nva_a" href="javascript:void(0);">--服务管理</a>
                <a class="menu_nva_a" href="javascript:void(0);">--应用管理</a>
                <a class="menu_nva_a" href="javascript:void(0);">--日志管理</a>
                <a class="menu_nva_a" href="javascript:void(0);">--路由管理</a>
            </div>
            <h3 id="home-menu-sys-head" class="home-menu-head">系统监控</h3>
            <div style="display:none" id="home-menu-sys-nva" class="menu_nva">
                <a class="menu_nva_a" href="javascript:void(0);">--接口文档</a>
                <a class="menu_nva_a" href="javascript:void(0);">--注册中心</a>
                <a class="menu_nva_a" href="javascript:void(0);">--zipkin监控</a>
                <a class="menu_nva_a" href="javascript:void(0);">--服务监控</a>
                <a class="menu_nva_a" href="javascript:void(0);">--druid监控</a>
                <a class="menu_nva_a" href="javascript:void(0);">--任务监控</a>
                <a class="menu_nva_a" href="javascript:void(0);">--ELK状态</a>
                <a class="menu_nva_a" href="javascript:void(0);">--文件中心</a>
            </div>

            <h3 id="home-menu-task-head" class="home-menu-head">任务中心</h3>
            <div style="display:none" id="home-menu-task-nva" class="menu_nva">
                <a class="menu_nva_a" href="javascript:void(0);">--任务管理</a>
                <a class="menu_nva_a" href="javascript:void(0);">--调度日志</a>
                <a class="menu_nva_a" href="javascript:void(0);">--执行器管理</a>
            </div>

        </div>
    </div> <!-- admin-left -->
    <div id="home-right">
        <div id="home-right-title">
            <div id="home-right-title-pre">
                <a><<</a>
            </div>

            <div id="home-right-title-body">
                <ul>
                    <li><span>角色管理</span><a  href="javascript:void(0);">X</a></li>
                </ul>
            </div>
            <div id="home-right-title-down">
                <a>>></a>
            </div>
            <div id="home-right-title-next">
                <a>>></a>
            </div>

        </div><!--admin-right-title -->
        <div id="home-right-body">

            <!--注册中心  -->
            <div id="home-right-body-sys-registercenter" class="home-right-body-list"
                 style="display: none ; height: inherit" >
                <iframe src="http://localhost:8005/eureka-server-api"></iframe>
            </div>


            <!--接口文档  -->
            <div id="home-right-body-sys-apidoc" class="home-right-body-list" style=" display: none">
                <iframe src="http://localhost:8005/swagger-ui.html"></iframe>
            </div>

            <!--zipkin链路追踪  -->
            <div id="home-right-body-sys-zipkin" class="home-right-body-list"
                 style=" display: none; height: inherit ">
                <iframe src="http://localhost:9411/"></iframe>
            </div>

            <!--服务监控  -->
            <div id="home-right-body-sys-admin" class="home-right-body-list"
                 style=" display: none; height: inherit ">
                <iframe src="http://localhost:8006/"></iframe>
            </div>

            <!--druid监控  -->
            <div id="home-right-body-sys-druid" class="home-right-body-list"
                 style=" none: none; height: inherit ">
                <iframe src="http://localhost:8008/druid/"></iframe>
            </div>

            <!--任务中心  -->
            <div id="home-right-body-sys-scheduler" class="home-right-body-list"
                 style=" display: none; height: inherit ">
                <iframe src="http://localhost:8008/index"></iframe>
            </div>


        </div>

    </div>


</body>

</html>