/*博客显示区块*/
#blog-content-display{
    background-color: azure;   
    margin-top: 5px;
}
/*博客  ul li*/
#blog-content-display ul{
    list-style: none;  
    padding-left:0px;
}
.blog-content-user-info{
    height: auto;
    background-color: blanchedalmond;
}
/*头像*/
.blog-content-header-img{
 
}

.content-blog-menu{
    position:relative;
    left:0px;
    top:-180px;
    float: right;
    z-index: 100;
    background-color:red;
}
.content-blog-menu a {
    display: block;
   
}
/*博客内容**/

.blog-content-list{
    margin-bottom: 12px; 
    border-width:1px;
    border-color:darkgray;
    border-style:inset;
}
.blog-content-word-div{
    background-color: antiquewhite;
}
/*博客图片**/
.blog-content-img{
    height:auto;
    width: 32%;
    background-color: aqua;
    margin-left: 1px;
    margin-top: 1px;    
}
.blog-content-img-block {
    display: block;
    height: auto;
    background-color:antiquewhite;
}
//图片
/*.blog-content-img{
   width: 33%;
    height: auto;
    margin: 1px;
    float: left; 
}*/
.blog-content-img-block>div {
    width: 33%;
    height: auto;
    margin: 1px;
    float: left;
    background-color: orange;
}

#content-blog-menu-show{
    float: right;
}
#content-blog-menu{
    float: right;

    z-index:100;
    
}
#content-blog-menu  a{

}