<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<html>
<head>
    <meta charset="UTF-8">
    <title>microblog 搜索</title>
    <link>
    <!-- jquery  bootstrap-->
    <script th:src="@{/jquery/jquery-3.3.1.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/bootstrap/bootstrap.css}">
    <script th:src="@{/bootstrap/bootstrap.js}"></script>

    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css"  th:href="@{/css/index.css}">

</head>
<body>
    <!-- 添加数据 -->
    <div>
        <h2>添加数据</h2>

    </div>
    <hr/>
    <!-- 获取数据 -->
    <div>
        <h2>获取数据</h2>
    </div>
    <hr/>
    <!-- 删除数据 -->
    <div>
        <h2>删除数据</h2>
    </div>
    <hr/>
    <!-- 搜索数据 -->
    <div>
        <h2>搜索数据</h2>
    </div>
    <hr/>
</body>

</html>