/*左侧导航*/
#home-head {
    height: 40px;
    width: 100%;
    background-color: #343a40;
}

/*左侧导航 标题栏*/
#home-head h4 {
    color: snow;
    width: 100%;

    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

#home-menu-div {
    width: 100%;
    margin: 0;
}

.home-menu-head {
    height: 47px;
    line-height: 47px;
    padding-left: 38px;
    font-size: 14px;
    color: snow;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    position: relative;
    margin: 0px;
    font-weight: bold;
    background: #51a9f18c;
}

.menu_list .current {
    background: #51a9f18c;
}

.menu_nva {
    line-height: 38px;
    border-left: 1px solid #51a9f18c;
    backguound: #fff;
    border-right: 1px solid #51a9f18c;
}


/*.menu_nva a {
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 38px;
    color: black;
    background: #fff;
    text-decoration: none;
    border-bottom: 1px solid #51a9f18c;
}*/


.menu_nva_a {
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 38px;
    color: black;
    background: #fff;
    text-decoration: none;
    border-bottom: 1px solid #51a9f18c;
}

.menu_nva_select {
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 38px;
    color: snow;
    background: #20B2AA;
    text-decoration: none;
    border-bottom: 1px solid #51a9f18c;

}


.menu_nva a:hover {
    text-decoration: none;
}

#home-left {
    height: 100%;
    width: 20%;
    background-color: #303030;
    float: left;
}

#home-right {
    height: 100%;
    width: 80%;
    background-color: #E0EEEE;
    float: left;
}

/*右侧标题栏*/
#home-right-title {
    height: 40px;
    width: 100%;
    background-color: #EEE8CD;
    float: left;
    border-bottom: 1px solid #51a9f18c;
    list-style: none;
}

#home-right-title-pre {
    background: #b1dfbb;
    width: 30px;
    height: inherit;
    float: left;
}

#home-right-title-body {

    height: inherit;
    float: left;


}

#home-right-title-body ul {
    list-style: none;
    height: inherit;

    margin: auto;
}

#home-right-title-body ul li {
    width: 110px;
    float: left;
    height: inherit;
    background: #9fcdff;
    border: 1px solid #51a9f18c;

    text-align: center;

}

#home-right-title-body ul a {
    float: right;

}

#home-right-title-next {

    background: red;
    width: 30px;
    height: inherit;
    float: right;

}

#home-right-title-down {
    float: right;
    height: inherit;
    width: 40px;
    transform: rotate(90deg);
    color: red;
    background-color: #1c7430;
}

#home-right-title-down a {
    text-align: center;
}

/*右侧body*/
#home-right-body {
    height: 100%;
    width: 100%;
    background-color: #b1dfbb;
}

/**
系统模块
 */
#home-right-body-sys-apidoc {
    height: inherit;
    width: inherit;
    display: block;
}

#home-right-body-sys-apidoc-hide {
    height: inherit;
    width: inherit;
    display: none;
}

/**
系统监控--api 文档
 */
.home-right-body-list iframe {
    height: 100%;
    width: 100%;
    background-color: #c6c8ca;
}

