<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<html>
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link>
    <!-- jquery  bootstrap-->
    <script th:src="@{/jquery/jquery-3.3.1.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/bootstrap/bootstrap.css}">
    <script th:src="@{/bootstrap/bootstrap.js}"></script>

    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css"  th:href="@{/css/index.css}">
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/menu_btn.js}"></script>

    <auth-head th:include="/auth/auth-index :: auth-head"/>

    <!--<style  type="text/css">



    </style>-->
</head>
<body>
   <div>
       <form id="login-form">
           <div>
               <label for="login-username">帐号</label>
               <input id="login-username"/>
           </div>

           <div>
               <label for="login-password">密码</label>
               <input id="login-password" />
           </div>
       </form>
   </div>
</body>

</html>