<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>students</title>

    <script src="/jquery/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.css">
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

</head>
<body>
<h1>在线聊天</h1>
<div>
    <div>
        <input id="myid" placeholder="myid">
        <button id="login-button" onclick="login()">登录</button>
    </div>
    <div>
        <button id="getlogin-button" onclick="getlogin()">获取登录用户</button>
        <input id="curLoginUser" value="当前无用户登录"/>
    </div>
    <div id="input-box">
        <input class="chat-input" id="chat-input" placeholder="message"></input>
        <input id="friendid" placeholder="friendid">
        <button class="chat-button" id="send" onclick="send()">发送</button>
    </div>

    <div>
        <input id="chat-rec" placeholder="message"></input>
    </div>

</div>

</body>

<script>

    var ipaddress = "127.0.0.1";
    var url = 'ws://' + window.location.host + '/websocket' + '/2001';
    socket = new WebSocket(url);
    socket.onmessage = function (event) {
        var datas = event.data.split(",");
        console.log("服务器消息====" + datas);
        $("#chat-rec").val(datas);
    }

    //将发送人接收人的id和要发生的消息发送出去
    function send() {
        console.log("send status = " + socket.readyState)
        console.log($("#chat-input").val())
        var data = $("#myid").val() + "," + $("#friendid").val() + "," + $("#chat-input").val()

        var dat = {"code":101,"msg":"dsfvadfvgsadsffds","name":"sfa "};
        socket.send(JSON.stringify(dat));
    }

    //登录事件
    function login() {
        console.log("send status = " + socket.readyState)
        var data = $("#myid").val();
       // socket.send(data);
    }
</script>

</html>