<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>用户列表</h2>
    <div>
        <ul>
            <li  th:each="user:${users}">
                <span th:text="${user.getClass()}" >sss</span>-
                <span th:text="${user.id}"></span>-
                <span th:text="${user.name}"></span>-
                <span th:text="${user.age}"></span>-
                <span th:text="${user.address}"></span>
                dfsfdasadfs
            </li>
        </ul>
    </div>
</body>
</html>