
#scheduler-display-add-div{
    width: 30%;
    float: left;
}

#scheduler-display-add-class-list-div{
    width: fit-content;
    height: 400px;
    float: left;
}

#scheduler-display-add-class-list{
    height: inherit;
    overflow: auto;
}