html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
}

#scheduler-add-window-edit{
    display: block;
    height: 80%;
}

#scheduler-add-window-edit-body{
    float: left;
    height: 100%;
    width: 40%;
    border-style:solid;
    border-width:1px;
    border-color: #b1dfbb;
}
#scheduler-add-window-class{
    float: left;

    height: 100%;
    width: 60%;

    border-style:solid;
    border-width:1px;
    border-color: #b1dfbb;
}
