server:
  port: 8001
eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone:
          http://localhost:8001/eureka/
spring:
  application:
    name: center

ribbon:
  eureka:
    enabled: true
logging:
  level:
    org.springframework: debug
